VITE_SUPABASE_URL=https://your-supabase-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrc2RqYnFjZWJqdHVhdnBobWFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyMTg0OTksImV4cCI6MjEwMDc5NDQ5OX0.-sorA8aAOj8oVwnMZuYJ-YaD-jbTDalGj_1JuritmHM
GMAIL_USER=smartsympo@gmail.com
GMAIL_APP_PASSWORD=zjrl tozy melg blor